<ul class="nav nav-tabs">
  <li ng-class="" ng-repeat="(key, value) in tabs">
    <!--Iterate through the repeats filter out duplicates--
    -->
      <a showtab="" href="#{{ key }}">{{ key }}</a>

    <!-- {{ key }}
    -->
 
  </li>
</ul>
<!-- NG-repeat over the key, have property as the label, and print out the item, item.<data> 
  </li>
  
  <!--Parse and set the scope in the success and go to your HTML page and use 
    those things-->
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade " ng-repeat="tab in tabs" id="{{ tab.ten }}">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Ten</th>
          <th>Hour</th>
	  <th>Day</th>
	  <th>Week</th>
	  <th>Month</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="element in tab.list">
          <td>{{ element.ten }}</td>
          <td>{{ element.hour }}</td>
	  <td>{{ element.day }}</td>
	  <td>{{ element.week }}</td>
	  <td>{{ element.month }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

